body{
	background-color: #232323;
	margin:0;
	font-family: "Montserrat","Avenir";
}

.square{
	width:30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 0.6s; 
	/*its not browser friendly for all so use next line*/
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;

}

#container{
	margin: 40px auto;
	max-width: 600px;
}

h1{
	text-align: center;
	text-shadow: 10px 10px 20px black;
	line-height: 1.1;
	padding: 20px 0;
	color:white;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

#describe{
	text-shadow: 10px 10px 20px black;
	margin: 0;
	font-weight: normal;
	font-size: 0.5em;
	text-transform: capitalize;
	letter-spacing: 1px;
}

#colorDisplay{
	font-size: 200%;
	text-shadow: 5px 5px 10px black;
	color: #f2efce;
}

#colorDisplay:hover {
	font-size: 230%;
	text-shadow: 5px 5px 10px black;
	color: #f2efce;
}

#message{
	display: inline-block;
	width: 20%;
	letter-spacing: 1px;
	color:steelblue;
	/*there's going to be a span which will take upto
	20% width.*/
}
/* 
span{
	/*color: #ffffff;
} targetting element so it wont go to stripe id */

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color:black;
}

.selected{
	color: white;
	background-color: steelblue;
}

button{
	border:none;
	background:none;
	text-transform: uppercase;
	height: 100%;
	font-weight:700px;
	color: steelblue;
	letter-spacing: 1px;
	transition: all 0.3s;
	/*properties to change,
	any time a property changes take 2 seconds*/
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	/*outline-width: 1px;*/
	outline:none;
}	

button:hover {
	color: white;
	background-color: steelblue;
}